.App {
	text-align: center;
}

.App.dark {
	background: #000;
	color: #fff;
	transition: 0.3s all;
}

.App.light {
	background: #fff;
	color: #000;
	transition: 0.3s all;
}

.App p {
	font-size: 24pt;
}

body {
	padding: 0;
  margin: 0;
}

.table-container{
  padding: 60px
}
